:root {
  /* --section-color: rgb(244,244,244); */
  /* #b3f4ff */
  --main-text-color: #0f4ea1;
}

*::selection {
  background-color: gray;
  color: #58dcf3;
}
/* google font icon */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
/*/// google font icon ///*/
* {
  /* user-select: none; */
  font-family: "Sen", sans-serif;
  box-sizing: border-box;
}

.text-color {
  color: var(--main-text-color);
}

section {
  position: relative;
  padding: 120px 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

section.show {
  top: 0;
  opacity: 1;
}

section.hide-right {
  right: 200px;
  opacity: 0;
}

section.hide-left {
  left: 200px;
  opacity: 0;
}

.title-color {
  color: orange;
}

img {
  max-width: 100%;
}
.secondary-title {
  width: fit-content;
}
.pointer {
  cursor: pointer;
}
/* Start Navbar */
header .navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  color: white;
  background-color: var(--section-color);
  z-index: 9;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  background-color: white;
}
header .nav-item .nav-link {
  position: relative;
  transition: 0.3s;
  width: fit-content;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .nav-item .nav-link:hover::before,
header .nav-item .nav-link.active::before {
  width: 100%;
  left: 0;
}

header .logo-pic {
  width: 180px;
  height: 100px;
}

.dropdown-custom {
  position: relative;
}

header .about-box {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  width: 150px;
  padding: 5px;
  padding-left: 10px !important;
  opacity: 0;
  z-index: 9999;
  visibility: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.show-about-box {
  visibility: visible !important;
  opacity: 1 !important;
}

/* End Navbar */
/* Start Landing */

.landing .carousel-inner .carousel-item {
  height: 500px;
}
.landing .carousel-item .image-holder img {
  width: 100%;
}
.landing .carousel-item .info {
  opacity: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.landing .carousel-item.active .info {
  opacity: 1;
}

/* End Landing */

/* Start Products & Services */

.products .logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.products .logo-holder img {
  width: 250px;
}

.products .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

/* End Products & Services */

/* Start Clients */

.clients .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-evenly;
}

.clients .box {
  text-align: center;
  position: relative;
  margin: 40px 0;
}

.clients .box h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #0a58ca;
  color: var(--main-text-color);
  background-color: rgba(9, 255, 0, 0.404);
  padding: 10px 20px;
  width: fit-content;
  margin: auto;
}

section.clients .images-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.clients .images-holder .image-holder {
  height: 130px;
  width: 130px;
}

section.clients .image-holder img {
  width: 100%;
  min-height: 50%;
}

/* End Clients */

/* Start about */
@media (width > 768px) {
  section.about .central {
    width: 63%;
  }
  section.about .side {
    width: 30%;
  }
}
/* End about */
/* Start partnerships */
.partnerships .images img {
  width: 250px;
}
/* End partnerships */

.new {
  background-color: var(--section-color);
}
.new .slider .image-slider {
  min-width: 150px;
}
.new .image-slider img {
  width: 100%;
}
